<h1>About yeaskme</h1>
<p>
    This is a website that will allow you to rank and score the things you like (or dislike).
</p>
<p>
    It is deployed to Heroku at <a href="http://www.yeask.me" target="_default">http://www.yeask.me/</a>.
</p>
<p>
    Its source code it hosted on GitHub at <a href="https://github.com/manuisfunny/yeaskme" target="_default">https://github.com/manuisfunny/yeaskme</a>.
</p>
<p>
    The project website is at <a href="http://www.acargocultcoder.com/yeaskme/" target="_default">http://www.acargocultcoder.com/yeaskme/</a>.
</p>
<p>
    I'm planning on blogging about my work on this project at my personal blog at <a href="http://www.acargocultcoder.com/" target="_default">http://www.acargocultcoder.com</a>.
</p>

<p>
    <h1>Technology</h1>
    <ul>
        <li>
            Powered by <a href="https://www.themoviedb.org/" target="_blank">themoviedb.org (TMDb)</a>
        </li>
    </ul>
</p>
