<h1>scorethings</h1>
<div>
    <h3>Helping people score things.</h3>
    <h4>What are things you can score?:</h4>
    <div class="row">
        <div class="col-sm-6 col-xs-12 panel panel-default thing-source-panel">
            <div class="panel-body">
                <br>
                Twitter accounts
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 panel panel-default thing-source-panel">
            <div class="panel-body">
                <br>
                GitHub repositories
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 panel panel-default thing-source-panel">
            <div class="panel-body">
                <br>
                <span class="unimplemented-feature">SoundCloud tracks</span>
            </div>
        </div>
    </div>
</div>
<div style="padding: 1em" class="container-fluid">
    <h4 style="text-align: center">Try it out:</h4>
    <div class="row">
        <div style="text-align: center">
            <a class="btn btn-primary btn-lg" ui-sref="scores.scoreAThing">
                Score a thing
            </a>
        </div>
    </div>
</div>
