<h1>scorethings</h1>
<ol>
    <li><h4>Score things on Twitter and YouTube.</h4></li>
    <li><h4>Find other things you might want to score.</h4></li>
    <li><h4>View & judge scores....about things.</h4></li>
</ol>
<br>
<div>
    <h4>What's a score?</h4>
    A score is a number of points (0-100) that YOU give a thing.
</div>
<br>
<div>
    <h4>What's a thing?</h4>
    Any Twitter account, tweet or YouTube video that you have access to.  Also any hashtag you want.
</div>
<br>
<div>
    <h4>Why do you keep using the words <i>"score"</i> and <i>"thing"</i>?</h4>
    scorethings provides you with <a href="#/score_categories">11 different categories</a>
    to help you describe your score........of a thing.
</div>
<br>
<div><h4>Try it out.</h4>
    If you want to quit, you can easily delete all of your scorethings scores.</div>
<br>
<div style="padding: 1em" class="container-fluid">
    <div class="row">
        <div style="text-align: center">
            <a class="btn btn-primary btn-lg" href="#/scores/new">
                Score Things
            </a>
        </div>
    </div>
</div>
