<h1>Welcome to scorethings</h1>
<form ng-submit="searchTwitterHandle()">
    <div class="input-group">
        <span class="input-group-addon" id="twitterHandleAt">@</span>
        <input type="text" class="form-control"
               ng-model="twitterHandle"
               placeholder="Username" aria-describedby="twitter_handle_input">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
    </span>
    </div>
</form>
<ul>
    <li ng-repeat="account in accounts">
        @{{account.screen_name}}
    </li>
</ul>
