<div ng-app="yeaskme" ng-controller="DashboardCtrl"
    class="container">
  <div ng-include="'auth/navigation.html'"></div>
  <div ng-view></div>
  <p>
    Powered by themoviedb.org (TMDb)
    <img src="<%= image_url('tmdbLogo.svg') %>" height="72">
  </p>
</div>