<div style="text-align: center">
    <form ng-submit="save()">
        <div class="modal-header">
            <h5 class="modal-title">Score Thing</h5>
        </div>
        <div class="modal-body">
            <div>
                <h4>{{thing.label}}</h4>
            </div>
            ({{imagesInput}})
            <div ng-show="thing.uri">
                <a target="_blank" ng-href="{{thing.uri}}">View {{thing.type | thingType}}</a>
            </div>
            <div class="row">
                <score-points-input score="score" is-owner="true">
                </score-points-input>
            </div>
            <div class="alert alert-warning" ng-show="scoreConflictMessage" role="alert">
                {{scoreConflictMessage}}
                <br>
                <a ui-sref="scores.show({scoreId: existingScoreId})" ng-click="cancel()">
                    You can go see that score
                </a>
                or <a ng-click="changeExistingScore()">change it to this</a>.
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button ng-disabled="scoreConflictMessage" class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
