<div style="text-align: center">
    <form ng-submit="save()">
        <div class="modal-header">
            <h5 class="modal-title">Score Thing</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <img ng-src="{{webThing.imageUri}}">
            </div>
            <div class="row">
                <h4>{{webThing.title}}</h4>
            </div>
            <div ng-show="webThing.uri" class="row">
                <a target="_blank" ng-href="{{webThing.uri}}">View {{webThing.type | thingType}}</a>
            </div>
            <div class="form-group">
                <h2>Points:</h2>
                <h2>{{score.points}}</h2>
                <slider ng-model="score.points"
                        id="points"
                        min="1"
                        step="1"
                        max="100"
                        value="score.points">
                </slider>
                <div class="alert alert-warning" ng-show="warningMessage" role="alert">
                    {{warningMessage}}
                    <a ui-sref="scores.show({scoreId: existingScoreId})" ng-click="cancel()">
                        You can change it
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
