<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="blose" data-dismis="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>What's Your Score Gonna Be?</h4>
            </div>
            <div class="modal-body">
                This is the body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>