<div>
    <h2>Score A Thing</h2>
    <div class="row">
        <tabset justified="true" class="col-xs-12">
            <tab select="setTab('TWITTER_ACCOUNT')" heading="Any Twitter Account">
            </tab>
            <tab select="setTab('YOUTUBE_VIDEO')" heading="Any YouTube Video">
            </tab>
            <tab select="setTab('HASHTAG')" heading="Any Hashtag">
            </tab>
        </tabset>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form ng-submit="scoreThing()">
                <div class="input-group">
                    <span ng-show="prefix[thingType]" class="input-group-btn">
                        <button class="btn btn-default">{{prefix[thingType]}}</button>
                    </span>
                    <input type="text"
                           class="form-control"
                           sf-typeahead
                           options="exampleOptions" datasets="numbersDataset"
                           placeholder="{{examplePlaceholder[thingType]}}"
                           ng-model="thingInputValue">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="chooseScoreCategory()" type="button">{{chosenScoreCategory.name}}</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Score It</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div style="padding: 1em" class="container-fluid">
        <div class="row">
            <div style="text-align: center">
                OR
            </div>
        </div>
    </div>
    <div style="padding: 1em" class="container-fluid">
        <div class="row">
            <div style="text-align: center">
                <a class="btn btn-primary" href="#/account/thing_suggestions">
                    Find Suggestions For Things To Score
                </a>
            </div>
        </div>
    </div>
</div>
