<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{scoreMetadata.title}}
        </h3>
    </div>
    <div class="panel-body">
        <div>
            Category: {{score.category.name}}
        </div>
        <div>
            Score: {{score.points}}
        </div>
        <div>
            Scored By: {{score.user}}
        </div>
        <div>
            Find Other Scores For This Thing
        </div>
        <div>
            Edit This Score
        </div>
        <div>
            Score This Thing
        </div>
    </div>
</div>