<h3>Score Thing</h3>
<form ng-submit="scoreThing()">
    <div class="form-group">
        <label class="control-label">
            Thing
        </label>
        <p class="form-control-static">
            <a target="_blank" ng-href="{{score.thing.uri}}">{{score.thing.title}}</a>
            <img ng-src="{{score.thing.image_uri}}">
        </p>
    </div>
    <div class="form-group">
        <label class="control-label">
            Description
        </label>
        <p class="form-control-static">
            {{score.thing.description}}
        </p>
    </div>
    <div class="form-group">
        <label for="scoreCategory">Score Category:</label>
        <select id="scoreCategory"
                class="form-control"
                ng-model="score.score_category_id"
                ng-options="scoreCategory.id as scoreCategory.name for scoreCategory in scoreCategories">
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg" type="submit">Save</button>
    </div>
</form>
