<div ng-show="notFound">
    <h2>Could not find score</h2>
</div>
<div ng-show="score" class="col-xs-12 col-sm-6">
   <table class="table table-bordered">
       <tr>
           <th colspan="2">Score Details</th>
       </tr>
       <tr>
           <th>User</th>
           <td>
               <a ui-sref="users.show({username: score.user.username})">{{score.user.username}}</a>
           </td>
       </tr>
       <tr>
           <th>Thing</th>
           <td>
               <a ui-sref="things.show({thingId: score.thing.token})">{{score.thing.title}}</a>
           </td>
       </tr>
       <tr>
           <th>Criterion</th>
           <td>{{score.criterion && score.criterion.name}}</td>
       </tr>
       <tr>
           <th>Points</th>
           <td>
               <points-progressbar points="score.points">
               </points-progressbar>
               <div ng-form="updatePointsForm" ng-show="canEditScore">
                   <div ui-slider
                        ng-model="score.points"
                        min="0"
                        step="1"
                        max="10">
                   </div>
                   <br>
                   <button class="btn btn-default btn-sm"
                           type="submit"
                           ng-click="updatePoints()"
                           ng-disabled="updatePointsForm.$pristine">
                       Update
                   </button>
               </div>
               <a ui-sref="scores.new({wikidataItemId: score.thing.wikidataItemId})"
                  class="btn btn-default btn-sm">New Score For {{score.thing.title}}</a>
           </td>
       </tr>
   </table>
</div>
<div class="col-xs-12 col-sm-6" ng-show="userStats">
    <stats-display stats="userStats" title="'How has ' + score.user.username + ' scored things?'">
    </stats-display>
</div>
