<div ng-show="notFound">
    <h2>Score not found</h2>
</div>
<div ng-show="!notFound">
    <h3 ng-show="!isOwner">Score by <a ui-sref="users.show({userId: score.user.token})">{{score.user.username}}</a></h3>
    <h3 ng-show="isOwner">Your Score</h3>
    <div style="text-align: center">
        <div class="col-xs-12 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Thing</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="score.thing.type != 'hashtag'">
                        <h6><a ui-sref="thingReferences.show({thingReferenceId: score.thingReference.token})">{{score.thing.type | thingType}}: {{score.thing.title}}</a></h6>
                        <img ng-src="{{score.thing.imageUri}}" height="154">
                        <div ng-show="score.thing.uri" class="row">
                            <a target="_blank" ng-href="{{score.thing.uri}}">Go To This {{score.thing.type | thingType}}</a>
                        </div>
                    </div>
                    <div ng-show="score.thing.type == 'hashtag'">
                        <h2><a ui-sref="thingReferences.show({thingReferenceId: score.thingReference.token})">{{score.thing.type | thingType}}: {{score.thing.title}}</a></h2>
                    </div>
                    <a class="btn btn-primary btn-sm"
                       ng-click="scoreThisThing()" ng-show="isLoggedIn() && !isOwner">
                        Score This Yourself
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <form name="updateScoreForm" ng-submit="updateScore()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Score
                            <button class="btn btn-sm btn-default" ng-show="isOwner" type="submit" ng-show="!updateScoreForm.$pristine">Update</button>
                        </h3>
                    </div>
                    <div class="panel-body">
                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label for="points">Points</label>
                                        <h3>{{score.points}}</h3>
                                        <div ui-slider ng-model="score.points"
                                             id="points"
                                             ng-show="isOwner"
                                             min="1"
                                             step="1"
                                             max="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <label for="good">Good</label>
                                        <h3>{{score.good}}</h3>
                                        <div ui-slider ng-model="score.good"
                                             ng-show="isOwner"
                                             id="good"
                                             min="2"
                                             step="1"
                                             max="99">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <div>
                            <twitter-share-score-button
                                    thing-title="score.thing.title"
                                    points="score.points"
                                    thing-type="score.thing.type | thingType"
                                    good="score.good">
                            </twitter-share-score-button>
                            <tumblr-share-score-button
                                    thing-title="score.thing.title"
                                    points="score.points"
                                    thing-type="score.thing.type | thingType"
                                    good="score.good">
                            </tumblr-share-score-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Score Comparison</h3>
                </div>
                <div class="panel-body">
                    <h1>Insert D3 Graph Here</h1>
                </div>
            </div>
        </div>
    </div>
</div>
