<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a ng-href="#/scores/{{score.id}}">{{score.thing.display_value}}</a>
        </h3>
    </div>
    <div class="panel-body">
        <div>
            Category: {{score.score_category.name}}
        </div>
        <div>
            Points: {{score.points}}
        </div>
        <div>
            <ul style="list-style-type: none;">
                <li>
                    <a href="#">Other Scores For This Thing</a>
                </li>
                <li>
                    <a href="#">Score This Thing Yourself</a>
                </li>
                <li>
                    <a href="#">Share Score</a>
                </li>
            </ul>
        </div>
    </div>
</div>