<form ng-submit="search()">
    <div class="col-xs-12">
        <h3>Search Scores</h3>
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       id="query"
                       class="form-control"
                       placeholder="Batman and/or username:IvanaTinkle"
                       ng-change="notFound = false; error = null"
                       ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12" ng-show="notFound">
    <h5>Sorry, no results found for "{{query}}".  It might just be that no one has scored it yet.</h5>
    <a ui-sref="things.search({query: query})">CLICK HERE to find the thing "{{query}}", and score it.</a>
    <h6 ng-show="error">{{error}}</h6>
</div>
<table class="table table-hover" ng-show="scores.length">
    <thead>
        <tr>
            <td>Thing</td>
            <td class="hidden-xs">User</td>
            <td class="hidden-xs">Criterion</td>
            <td>Points</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="score in scores">
            <td>
                <a ui-sref="scoredThings.show({scoredThingId: score.scoredThing.token})">
                    {{score.scoredThing.title}}
                </a>
            </td>
            <td class="hidden-xs">
                <a ui-sref="users.show({username: score.user.username})">
                    {{score.user.username}}
                </a>
            </td>
            <td class="hidden-xs">
                <criterion-emoji-display criterion="score.criterion"></criterion-emoji-display>{{score.criterion && score.criterion.name}}
            </td>
            <td>
                <points-progressbar points="score.points">
                </points-progressbar>
            </td>
            <td>
                <a ui-sref="scores.show({scoreId: score.token})" class="btn btn-default">View</a>
            </td>
        </tr>
    </tbody>
</table>
