<h3>Score</h3>
by <a ui-sref="user.detail({userId: score.user.token})">{{score.user.username}}</a>
<div>
    <h3>Thing: <a ui-sref="things.detail({thingId: score.thing.token})">{{score.thing.title}}</a></h3>
    <img ng-src="{{score.thing.imageUri}}">
</div>
<div>
    <h3>{{score.scoreCategory.name}}: {{score.points}}</h3>
</div>
<div ng-show="score.user.id == identity.userId">
    <button class="btn btn-primary" ng-click="editScore()">Edit</button>
</div>
<div>
    <h3>Score Lists</h3>
    <ul>
        <li ng-repeat="scoreList in score.scoreLists">
            <a ui-sref="scoreLists.detail({scoreListId: scoreList.token})">{{scoreList.name}}</a>
        </li>
    </ul>
</div>
