<h3>Score</h3>
<table class="table table-striped">
    <tbody>
    <tr>
        <th colspan="2">
            <img ng-src="{{score.thing.imageUri}}">
        </th>
    </tr>
    <tr>
        <th>Thing</th>
        <td><a ui-sref="things.detail({thingId: score.thing.token})">{{score.thing.title}}</a></td>
    </tr>
    <tr>
        <th>Thing Type</th>
        <td>{{score.thing.type | thingType}}
            <span ng-show="score.thing.uri">
                (<a target="_blank" ng-href="{{score.thing.uri}}">view</a>)
            </span>
        </td>
    </tr>
    <tr>
        <th>User</th>
        <td><a ui-sref="users.detail({userId: score.user.token})">{{score.user.username}}</a></td>
    </tr>
    <tr>
        <th>Points</th>
        <td>{{score.scoreCategory.name}}: {{score.points}} / 100</td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="row" ng-show="isOwner">
                <button class="col-xs-6 btn btn-default col-xs-6"
                        ng-click="editScore()" ng-show="isOwner">
                    <i class="fa fa-pencil"></i>&nbsp;Edit
                </button>
                <button class="col-xs-6 btn btn-default col-xs-6"
                        ng-click="deleteScore()" ng-show="isOwner">
                    <i class="fa fa-trash-o"></i>&nbsp;Delete
                </button>
            </div>
            <div class="row">
                <button class="col-xs-6 btn btn-default col-xs-6"
                        ng-click="showScoreListsModal()">
                    <i class="fa fa-list"></i>&nbsp;Score Lists
                </button>
                <button class="col-xs-6 btn btn-default col-xs-12"
                        ng-click="share()">
                    <i class="fa fa-share-alt"></i>&nbsp;Share
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>