<h3>Score Thing</h3>
<small>Find a Thing To Score</small>
<form ng-submit="searchThings()">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       id="query"
                       class="form-control"
                       placeholder="Example: Batman or Patton Oswalt"
                       ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-disabled="!query" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12" ng-show="showNoResultsMessage">
    <h5>Sorry, no results found for "{{query}}".</h5>
</div>

<div class="col-xs-12" ng-show="things.length">
    <div ng-repeat="thing in things track by $index" ng-controller="ThingCtrl">
        <h3>{{thing.label}}</h3>
        <span ng-repeat="imageUrl in imageUrls">
            <img ng-src="{{imageUrl}}" height="90">
        </span>
        <button class="btn btn-primary btn-md"
                ng-disabled="!isLoggedIn()"
                ng-click="scoreThisThing(thing)">
            Score
        </button>
    </div>
</div>
