<form ng-submit="createScore()">
    <div class="modal-header">
        <h3 class="modal-title">
            Score {{thingPreview.display_value}}
            <img ng-src="{{thingPreview.image_uri}}">
        </h3>
    </div>
    <div ng-show="showRecenlySavedScoreMessage" class="modal-body">
        You just saved a score for {{score.thing.display_value}}.
        <br>
        Do you want to create another score for that thing?
        <button class="btn btn-primary" type="button" ng-click="createAnotherScore()">Yes</button>
        <button class="btn btn-default" type="button" ng-click="close()">No</button>
    </div>
    <div ng-hide="showRecenlySavedScoreMessage" class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Points
                    </div>
                    <div class="panel-body">
                        <span style="font-size: 3em;">{{score.points}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Score Category
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select id="scoreCategory"
                                    class="form-control"
                                    ng-model="score.score_category_id"
                                    ng-options="scoreCategory.id as scoreCategory.name for scoreCategory in scoreCategories">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <slider id="points" ng-model="score.points" min="0" step="1" max="100" value="score.points"></slider>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="showRecenlySavedScoreMessage" class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">Score It!</button>
    </div>
</form>
