<div style="text-align: center">
    <h2>Score For {{wikidataItem.title}}</h2>
    <h2>
        <a class="criterion" ng-click="showCriterionSelectionModal()">
            {{score.criterion && score.criterion.name || 'No Criterion'}}
        </a>
    </h2>
    <h2><a ng-click="score.points=5">No</a>, <a ng-click="score.points=7">Meh</a>, or <a ng-click="score.points=8">Yes</a></h2>

    <points-progressbar class="lg" points="score.points">
    </points-progressbar>
    <div ui-slider ng-model="score.points"
         id="points"
         min="0"
         step="1"
         max="10">
    </div>
    <br>
    <div ng-show="!isLoggedIn()" class="alert alert-warning" role="alert">Before scoring a thing, please <a ng-click="login()">log in</a>.</div>
    <button ng-click="save()" ng-disabled="!isLoggedIn()" class="btn btn-primary btn-lg">Save</button>
    <br>
    <twitter-share-new-score-button wikidata-item="wikidataItem" criterion="score.criterion">
    </twitter-share-new-score-button>
    <tumblr-share-new-score-button wikidata-item="wikidataItem" criterion="score.criterion">
    </tumblr-share-new-score-button>
</div>