<form ng-submit="search()">
    <div class="col-xs-12">
        <h3>Search Scores</h3>
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       id="query"
                       class="form-control"
                       placeholder="Batman and/or username:IvanaTinkle"
                       ng-change="notFound = false; error = null"
                       ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12" ng-show="notFound">
    <h5>Sorry, no results found for "{{query}}".</h5>
    <h6 ng-show="error">{{error}}</h6>
</div>
<table class="table table-hover" ng-show="scores.length">
    <thead>
        <tr>
            <td>Thing</td>
            <td>Criterion</td>
            <td>Points</td>
            <td>User</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="score in scores">
            <td>
                <a ui-sref="things.show({thingId: score.thing.token})">
                    {{score.thing.title}}
                </a>
            </td>
            <td>
                {{score.criterion}}
            </td>
            <td>
                <a ui-sref="scores.show({scoreId: score.token})">
                    <points-progressbar points="score.points">
                    </points-progressbar>
                </a>
            </td>
            <td>
                <a ui-sref="users.show({username: score.user.username})">
                    {{score.user.username}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
