<div class="row">
    <div class="col-xs-12">
        <form ng-submit="scoreThing()">
            <div class="input-group">
                    <span ng-show="prefix" class="input-group-btn">
                        <button class="btn btn-default">{{prefix}}</button>
                    </span>
                <input type="text" class="form-control" placeholder="{{examplePlaceholder}}" ng-model="thing.value">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="chooseScoreCategory()" type="button">{{chosenScoreCategory.name}}</button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Score It</button>
                </span>
            </div>
        </form>
    </div>
</div>