<div class="select-criterion">
    <div class="modal-header">
        <h3 class="modal-title">Select A Criterion</h3>
        <small>How should the thing be judged?</small>
    </div>
    <div class="modal-body">
        <div class="panel panel-default criterion"
             ng-class="{'selected': null == selectedCriterionId}"
             ng-click="selectCriterion(null)">
            <div class="panel-body">
                <h4>No Criterion</h4>
            </div>
        </div>
        <div ng-repeat="criterion in criteria"
             class="panel panel-default criterion"
             ng-class="{'selected': criterion.id == selectedCriterionId}"
             ng-click="selectCriterion(criterion)">
            <div class="panel-body">
                <h4><criterion-emoji-display criterion="criterion"></criterion-emoji-display> {{criterion.name}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
