<div class="select-criterion">
    <div class="modal-header">
        <h3 class="modal-title">Choose a criterion for the score</h3>
    </div>
    <div class="modal-body" style="text-align: center;">
        <div class="panel panel-default criterion"
             ng-class="{'selected': null == selectedCriterionId}"
             ng-click="selectCriterion(null)">
            <div class="panel-body">
                <h4>No Criterion</h4>
            </div>
        </div>
        <div ng-repeat="criterion in criteria"
             class="panel panel-default criterion"
             ng-class="{'selected': criterion.id == selectedCriterionId}"
             ng-click="selectCriterion(criterion)">
            <div class="panel-body">
                <h4>{{criterion.name}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
