<div>
    <h1>YouTube Video</h1>
    <div class="row">
        <div class="col-xs-12">
            <form ng-submit="handleThingInputValue(thingInputValue)">
                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-model="thingInputValue"
                           placeholder="Example: https://www.youtube.com/watch?v=KFOVrSXcgAQ">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Score It!</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</div>
