<div ng-controller="TMDBSearchCtrl">
    <form ng-submit="submitSearch()">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2 col-xs-12">
                    <label for="searchSource">Source</label>
                    <select ng-model="searchSource" id="searchSource" class="form-control">
                        <option value="tmdbMovie" selected="selected">Movie</option>
                        <option value="tmdbTV">TV Show</option>
                    </select>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <label for="query">Search Term</label>
                    <input type="search" class="form-control"
                           ng-model="query"
                           id="query" placeholder="Search for Movie or TV Show">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-xs-2">
                    <button type="submit"
                            class="btn btn-lg btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in searchResults.results">
                    <td>{{result.title}}</td>
                    <td>{{result.date | date}}</td>
                    <td><img ng-src="{{result.image}}"></td>
                    <td>{{result}}
                        <a class="btn btn-default btn-md"
                           ng-href="#/rate_subject?subject_source={{searchSource}}&subject_id={{result.id}}">
                            Rate
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
