<h3>Thing</h3>
<div>
    <img ng-src="{{thingReference.thing.imageUri}}">
    <h3>
        {{thingReference.thing.title}}&nbsp;({{thingReference.type | thingType}}, <a target="_blank" ng-href="{{thingReference.thing.uri}}">View</a>)
    </h3>
</div>
<div>
    <button class="btn btn-primary btn-sm" ng-click="scoreThisThing()">Score This</button>
</div>
<div>
    <h3>Scores</h3>
    <ul>
        <li ng-repeat="score in thingReference.scores">
            <a ui-sref="scores.show({scoreId: score.token})"> Score By {{score.user.username}}, Points: {{score.points}}</a>
        </li>
    </ul>
</div>

