<h3>Thing</h3>
<div>
    <h3>{{thingReference.type | thingType}}: {{thingReference.thing.title}}</h3>
    <div ng-show="thingReference.type != 'hashtag'">
        <img ng-src="{{thingReference.thing.imageUri}}" height="154">
        <a target="_blank" ng-href="{{thingReference.thing.uri}}">View {{thingReference.type | thingType}}</a>
    </div>
</div>
<div>
    <button class="btn btn-primary btn-sm" ng-click="scoreThisThing()">Score This</button>
</div>
<div>
    <h3>Scores</h3>
    <ul>
        <li ng-repeat="score in thingReference.scores">
            <a ui-sref="scores.show({scoreId: score.token})"> Score By {{score.user.username}}, Points: {{score.points}}</a>
        </li>
    </ul>
</div>
