<div ng-show="!loggedIn()">
  <a class='btn btn-primary' ng-click="login('twitter')">Login With Twitter</a>
  <a class='btn btn-primary' ng-click="login('facebook')">Login With Facebook</a>
</div>
<div ng-show="loggedIn()">
  logged in as ({{currentUser}})
  <a class='btn btn-danger' ng-click="logout()">Logout</a>
</div>

