<div id="loginModal">
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <div class="panel">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="authProvider in authProviders">
                        <provider-button preferred-provider="preferredProvider"
                                         provider="authProvider"
                                         respond-to-click="login">
                        </provider-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>