<h1>Welcome to yeaskme</h1>

<h1>Current User: ({{currentUser}})</h1>
<% @users.each do |user| %>
    <p>User: <%= user.name %> </p>
<% end %>

<h1>Secured Thing: ({{securedThing && securedThing.message}})</h1>

<h3 ng-show="message">Message: ({{message}})</h3>

<a class='btn btn-default' ng-click="getSecuredThing()">Get Secured Thing</a>