<h1>Welcome to YeAskMe</h1>
<p>
This is a website that will allow you to rank and score the things you like (or dislike).
</p>
<p>
It is deployed to Heroku at <a href="https://yeaskme.herokuapp.com/" target="_default">https://yeaskme.herokuapp.com</a>.
</p>
<p>
Its source code it hosted on GitHub at <a href="https://github.com/manuisfunny/yeAskMe" target="_default">https://github.com/manuisfunny/yeAskMe</a>.
</p>
<p>
The project website is at <a href="http://www.acargocultcoder.com/yeAskMe/" target="_default">http://www.acargocultcoder.com/yeAskMe/</a>. (case-sensitive)
</p>
<p>
I'm planning on blogging about my work on this project at my personal blog at <a href="http://www.acargocultcoder.com/" target="_default">http://www.acargocultcoder.com</a>.
</p>

<p>
<h1><a href="subjects">Manage Subjects</a></h1>
</p>
