<form ng-submit="save()">
    <div class="modal-header">
        <h5>Create New Score List</h5>
    </div>
    <div class="modal-body">
                <div class="form-group">
                        <input type="text"
                               id="name"
                               class="form-control"
                               placeholder="Example:  My Scores For Seattle"
                               ng-model="scoreList.name">
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">
            Cancel
        </button>
        <button class="btn btn-primary" ng-disabled="!scoreList.name" type="submit">
            Save
        </button>
    </div>
</form>
