<h2>Settings</h2>
<form ng-submit="save()">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Default Points</h3>
            </div>
            <div class="panel-body">
                <h1>{{settings.defaultPoints}}</h1>
                <div ui-slider ng-model="settings.defaultPoints"
                     id="defaultPoints"
                     min="1"
                     step="1"
                     max="100">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">How Do You Score Things?</h3>
            </div>
            <div class="panel-body">
                <small>What's the minimum points where you start to say something is good?</small>
                <h1>{{settings.defaultGood}}</h1>
                <div ui-slider ng-model="settings.defaultGood"
                     id="defaultGood"
                     min="2"
                     step="1"
                     max="99">
                </div>
                <ul>
                    <li>
                        <span class="points-bad"><strong>BAD:</strong> under {{settings.defaultGood}}</span>
                    </li>
                    <li>
                        <span class="points-good"><strong>GOOD:</strong>  {{settings.defaultGood}} or above</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button type="button" ng-click="reset()" class="btn btn-default">Reset</button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
