<form ng-submit="create()">
    <div class="modal-header">
        <h3 class="modal-title">New Criterion</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="newCriterion.name" type="text" class="form-control" id="name" placeholder="Example:  Fetch">
        </div>
        <div class="form-group">
            <label for="definition">Definition</label>
            <input ng-model="newCriterion.definition" type="text" class="form-control" id="definition" placeholder="Example: cool, awesome, chill">
        </div>
        <div class="form-group">
            <label class="radio-inline">
                <input ng-model="newCriterion.sign" type="radio" name="sign" id="postitiveSign" value="1"> Positive
            </label>
            <label class="radio-inline">
                <input ng-model="newCriterion.sign" type="radio" name="sign" id="negative" value="-1"> Negative
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
