<h2>Frequently Asked Questions (FAQs)</h2>
<div>
    <div>
        <h4>What's a score?</h4>
        <p>
            A score is a number of points (0-100) that YOU give a thing.  I'm thinking it will be
            pretty subjective.  Like, one person's 80 could be inflated.  The idea is to
            have a number describe how much a thing can be described by a score category.
        </p>
        <p>
            Yeah, that sounded weird.  Okay, let's say you give Patton Oswalt's twitter account
            @pattonoswalt, a Funny score of 90, that would mean you think the twitter account
            @pattonoswalt is pretty funny.  Then, if you give Matt Oswalt, @puddinstrip,
            a Funny score of 95, you would be saying you realize @puddinstrip is funnier.
        </p>
    </div>
    <br>
    <div>
        <h4>What's a score category?</h4>
        <p>
            A score category is an adjective that describes a thing.
        </p>
        <p>
            <strong>scorethings</strong> provides you with <a href="#/score_categories">12 different categories</a>
            to help you describe your score........of a thing.
        </p>
    </div>
    <br>
    <div>
        <h4>What's a thing?</h4>
        <p>
            Any Twitter account, any Twitter tweet, any YouTube video, any hashtag, anything, any...
            wait...okay, sorry I got a little carried away there.  Not anything, obviously.  In fact,
            I'm probably over promising with the other <em>Any</em>'s I listed.  I just started this,
            and I'm an <em>okay</em> programmer, so let's see if this app completely craps out.
            I may just limit it to a couple of things in the future.
        </p>
    </div>
    <br>
    <div>
        <h4>This all looks sketchy and poorly constructed.  Why should I use this scorestuff?</h4>
        <p>
            Yes, <strong>scorethings</strong> is in an early, rough state right now.
            I'm hoping to get it out there so that I can feedback and make improvements
            and give you something you DO want to use.  I'm really only guessing what a user
            would want right now.  After I get a few initial users, I'm hoping <strong>scorethings</strong>
            will look and work better.
        </p>
        <p>
            So, if you can give it a try for maybe 5 minutes, and <a href="#">give feedback</a>,
            it'll really help <strong>scorethings</strong> get better.  Hopefully, it might turn into something you will find
            useful in the future.
        </p>
    </div>
    <div>
        <h4>What's going to happen with the project?  What's the plan, Stan?</h4>
        <p>
            Okay, I have asked you <strong>several</strong> times to stop calling me Stan.
        </p>
        <p>
            I'm planning to work on this more during Summer 2015, and to improve/start the documentation, so
            other developers will be able to hack around on it, so expect some changes.  Yeah, okay, I see you
            thinking "He's never going to get around to the documentation."  Okay, probably right, but I'm going to
            try.  I realize the project looks bad right now, especially from a code perspective, so I'm really
            going to try to make it easier for other developers to participate.  This is my first real open
            source project, so I'm going to try hard to not make common mistakes.  If you're a developer, feel
            free to correct me if I make a rookie mistake.
        </p>
        <p>
            That being said, if you're reading this in Winter 2017, yeah, I flaked out.
        </p>
    </div>
</div>