<h2>Donate</h2>
<div class="panel panel-default">
    <div class="panel-body">
        I picked two Seattle based Science, Technology, Engineering and Math (STEM) programs because I like to write code, and I think it's
        important that we help people who would normally think that they couldn't have a career
        in software development.  A lot of people say there are other important industries,
        trades, and skills, but I like to code, and it's my website, soooo...
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://techaccess.org/" target="_blank">Technology Access Foundation (TAF) -
            helps kids learn STEM</a>
        </h3>
    </div>
    <div class="panel-body">
        <p>
            Website:  <a href="http://techaccess.org/" target="_blank">http://techaccess.org/</a>
        </p>
        <p>
            The following is totally my opinion, not TAF's.
        </p>
        <p>
            TAF if a nonprofit organization that works in Science, Technology, Engineering and Math (STEM),
            helping kids in "communities of color and those with low income".  I'm not going to quote
            the entire website to you.  I attended their after school program in high school in, I
            think 1999.  It was in their early years, in an office in Columbia City in Seattle, WA.
            They were right next door to the Taco Del Mar, and we could smell the burritos.  The
            founder, Trish Millines Dziko, told us she started the program when she was working at
            Microsoft during the early years.  She didn't like that their weren't a lot of minorities,
            and she wanted to do something about it.  Honestly, I wasn't that into computers at the
            time, and I didn't really understand why she and other volunteers worked so hard.  I kind
            of get it now.
        </p>
        <p>
            I definitely think you should check their website out
            (<a href="http://techaccess.org/" target="_blank">http://techaccess.org/</a>), and donate.
            The reason is because I'm pretty sure I wouldn't be a developer today if it wasn't for that
            place.  You can never tell for sure, but I think it helps kids to be exposed to the
            STEM subjects, even if they don't end up becoming programmers or scientists.  You could make
            the argument that there is no difference between an Ethiopian 14 year old and a caucasian
            14 year old, and that there shoudn't be an organization that isn't focused on everyone.  I get
            that, but I don't see the world that way.  It sucks if you don't know a lot of people in the
            tech or science industry, and you subconsciously feel it's harder for you to do than others.
            Going to TAF for a couple of years got me thinking that it was a possible career, even though
            I didn't go into it right after high school.
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developers Academy (Ada) -
                intensive software developer training school for women</a>
        </h3>
    </div>
    <div class="panel-body">
        <p>
            Website:  <a href="http://adadevelopersacademy.org/" target="_blank">http://adadevelopersacademy.org/</a>
        </p>
        <p>
            The following is totally my opinion, not Ada's.
        </p>
        <p>
            I'm gonna be kind of rude and say I didn't know about Ada Developers Academy (Ada),
            not like I did TAF.  I've heard about cool projects that the students had presented at
            meetups, and I really like the idea of all the hard work that goes into teaching the students
            about agile development (scrum, pair programming, test driven development, etc.).  That's something
            you can't learn from a screencast or book.  Plus, I heard from someone about how it's really
            tough, but you can produce actual open source projects by the time you finish the program, and
            intern at some of the top tech companies.  I totally think you should donate to their program,
            which helps with the cost of the program.
        </p>
        <p>
            So check their website out <a href="http://adadevelopersacademy.org/" target="_blank">
            http://adadevelopersacademy.org/</a>, and donate.
        </p>
    </div>
</div>
