<h2>Donate</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            I picked two Seattle based Science, Technology, Engineering and Math (STEM) programs because I like to write code, and I think it's
            important to help expose tech to people who would normally think that they
            couldn't have a career in a STEM career field.
        </p>
        <p>
            <strong>Check out the following cool non-profit organizations helping change STEM education.</strong>
        </p>
    </div>
</div>

<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://techaccess.org/" target="_blank">Technology Access Foundation (TAF) -
            helps kids learn STEM</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            Website:  <a href="http://techaccess.org/" target="_blank">http://techaccess.org/</a>
        </div>
        <div class="org-info">
            <a href="https://twitter.com/stembytaf" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @stembytaf</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>
            The following is totally my opinion, not TAF's.
        </p>
        <p>
            TAF if a nonprofit organization that works in Science, Technology, Engineering and Math (STEM),
            helping kids in "communities of color and those with low income".  I'm not going to quote
            the entire website to you.  I attended their after school program in high school in, I
            think 1999.  It was in a small office space next to a Taco Del Mar.
            After seeing their website, I'm really happy to see that they've grown so much to help
            so many other kids.</p>
        <p>
            The founder, Trish Millines Dziko, told us she started the program when she was working at
            Microsoft during the early years.  She wanted to see more minorities in the tech industry,
            so she did something about it, and started TAF with other volunteers.
       </p>
        <p>
            Honestly, I wasn't that into computers at the time in high school, and I didn't really understand why
            she and other volunteers worked so hard.  I kind of get it now.  I'm pretty sure there are a whole
            lot of (way more talented) workers in the tech industry today that are also grateful for TAF.
            </p>
        <p>
            If you care about technology and diversity in the tech sector, donate to them, follow them on Twitter.
        </p>
    </div>
</div>
<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developers Academy (Ada) -
                intensive software developer training school for women</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            Website:  <a href="http://adadevelopersacademy.org/" target="_blank">http://adadevelopersacademy.org/</a>
        </div>
        <div class="org-info">
            <a href="https://twitter.com/adaacademy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @adaacademy</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>
            The following is totally my opinion, not Ada Academy's.
        </p>
        <p>
            I'm gonna be kind of rude and say I didn't know about Ada Developers Academy (Ada),
            not like I did TAF.  I've heard about cool projects that the students had presented at
            meetups, and I really like the idea of all the hard work that goes into teaching the students
            about agile development (scrum, pair programming, test driven development, etc.).  That's something
            you can't learn from a screencast or book.
        </p>
        <p>
            Plus, I heard from someone about how it's really
            challenging, but you can produce actual open source projects by the time you finish the program, and
            intern at some of the top tech companies.  I totally think you should donate to their program,
            which helps students with the cost of the program.
        </p>
        <div class="org-info">
            Plus, they put their curriculum and projects on GitHub:
            <a target="_blank" href="https://github.com/Ada-Developers-Academy">https://github.com/Ada-Developers-Academy</a>
        </div>
    </div>
</div>
<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            Me: <a href="https://twitter.com/manuisfunny" target="_blank">@manuisfunny</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            Website:  <a href="https://twitter.com/manuisfunny" target="_blank">https://twitter.com/manuisfunny</a>
        </div>
        <div class="org-info">
            <a href="https://twitter.com/manuisfunny" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @manuisfunny</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>
            The following is totally my opinion, not mine.
        </p>
        <p>
            S'up. *clear throat* Hello.  My name is Manu, or Behaimanot Sebhat for short.  I'm a computer programmer
            in Seattle, WA.
        </p>
        <p>
            ...what?  What did you say?:  <em>"Manu, you should have spent time writing
            automated tests, adding features, and adding documentation for developers and users to help grow
            this open source project, rather than making lame jokes on a donate page that NO user will ever see.  This is the
            problem with you millenniums.  Everything has to be about you, you need the spotlight at all
            times.  But you haven't earned attention yet.  Oh, and no company will ever hire
            you after reading this, you sound like a crazy person.  It's called <strong>professionalism</strong>,
            try it sometime.  And you certainly aren't funny. Oh, you've been watching too many episodes of
            that Tim and Eric Show.  And having arguments with imaginary characters?  Dude, you're not Bob Newhart.
            Stop. Trying. So. Hard!  Just write the code, fix the bugs, and shut the up."</em>??
        </p>
        <p>
            Okay, like, chill with that mess.  First off, it's <em>millennials</em>, dumb dumb.
            Second, You don't gotta worry about me, I got this.  I'm doing fine, the project
            is doing fine.  There are a few bugs, I haven't refactored the code yet,
            and the UI/UX is not up to snuff...is it <em>snuff</em>?
            What the heck does that even mean, <em>snuff</em>?
            Up to snuff....sounds right, yet it doesn't...they should have like an idiom convention,
            an IdiomCon, where people come together and retire weird idioms no one uses or understands.  I'm sure there are
            a few that have dirty origins.  Or racist origins.  Or both.  Probably both.
        </p>
        <p>
            Shoot, I've been blabbing on and on about non-profits and snuff, this page has gone far too long.  I wanted to get
            kudos and daps from you with a penny pledge, thus boosting my self-esteem somehow.
            Umm... you know, in these days of modern ideas, and modern products...
        </p>
        <p>
            ...crapcrapcrap...<strong>Gimme! Gimme! Gimme!  Don't you judge me, I need this.</strong>
        </p>
        <div>
            <pledgeplugin appid='1vp3sgx93' image_src='' tag='' ></pledgeplugin>
            <script type="text/javascript" src='https://pennypledge.co/static/js/penny-plugin.js'></script>
        </div>
    </div>
</div>
