<h2>Donate</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            I picked two Seattle based Science, Technology, Engineering and Math (STEM) programs because I like to write code, and I think it's
            important to help expose tech to people who would normally think that they
            couldn't have a career in a STEM career field.
        </p>
        <p>
            <strong>Check out the following cool non-profit organizations helping change STEM education.</strong>
        </p>
    </div>
</div>

<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://techaccess.org/" target="_blank">Technology Access Foundation (TAF) -
            helps kids learn STEM</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            Website:  <a href="http://techaccess.org/" target="_blank">http://techaccess.org/</a>
        </div>
        <div class="org-info">
            <a href="https://twitter.com/stembytaf" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @stembytaf</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>
            The following is totally my opinion, not TAF's.
        </p>
        <p>
            TAF if a nonprofit organization that works in Science, Technology, Engineering and Math (STEM),
            helping kids in "communities of color and those with low income".  I'm not going to quote
            the entire website to you.  I attended their after school program in high school in, I
            think 1999.  It was in a small office space next to a Taco Del Mar.
            After seeing their website, I'm really happy to see that they've grown so much to help
            so many other kids.</p>
        <p>
            The founder, Trish Millines Dziko, told us she started the program when she was working at
            Microsoft during the early years.  She wanted to see more minorities in the tech industry,
            so she did something about it, and started TAF with other volunteers.
       </p>
        <p>
            Honestly, I wasn't that into computers at the time in high school, and I didn't really understand why
            she and other volunteers worked so hard.  I kind of get it now.  I'm pretty sure there are a whole
            lot of (way more talented) workers in the tech industry today that are also grateful for TAF.
            </p>
        <p>
            If you care about technology and diversity in the tech sector, donate to them, follow them on Twitter.
        </p>
    </div>
</div>
<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developers Academy (Ada) -
                intensive software developer training school for women</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            Website:  <a href="http://adadevelopersacademy.org/" target="_blank">http://adadevelopersacademy.org/</a>
        </div>
        <div class="org-info">
            <a href="https://twitter.com/adaacademy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @adaacademy</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>
            The following is totally my opinion, not Ada Academy's.
        </p>
        <p>
            I'm gonna be kind of rude and say I didn't know about Ada Developers Academy (Ada),
            not like I did TAF.  I've heard about cool projects that the students had presented at
            meetups, and I really like the idea of all the hard work that goes into teaching the students
            about agile development (scrum, pair programming, test driven development, etc.).  That's something
            you can't learn from a screencast or book.
        </p>
        <p>
            Plus, I heard from someone about how it's really
            challenging, but you can produce actual open source projects by the time you finish the program, and
            intern at some of the top tech companies.  I totally think you should donate to their program,
            which helps students with the cost of the program.
        </p>
        <div class="org-info">
            Plus, they put their curriculum and projects on GitHub:
            <a target="_blank" href="https://github.com/Ada-Developers-Academy">https://github.com/Ada-Developers-Academy</a>
        </div>
    </div>
</div>
<div class="panel panel-default donate-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            Me: <a href="https://twitter.com/manuisfunny" target="_blank">@manuisfunny</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="org-info">
            <a href="https://twitter.com/manuisfunny" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @manuisfunny</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div>
            <h6>You Can Pledge a Penny To This Website</h6>
            <p>
                You can pledge a penny, like one cent, to show support of the project.
                I've signed up for <a target="_blank" href="https://pennypledge.co">PennyPledge</a>.
                I haven't used it before, but it seems cool.  It's mostly symbolic,
                but it seems to share kudos with content providers, artists, and developers.
            </p>
            <p>
                If I get 300 cents, I can cash out and get a special 6-inch sandwich at Subway.  I mean,
                I could get it now, but I really feel like I should earn that cold cut combo, y'know?
            </p>
            <pledgeplugin appid='1vp3sgx93' image_src='' tag='' ></pledgeplugin>
            <script type="text/javascript" src='https://pennypledge.co/static/js/penny-plugin.js'></script>
        </div>
    </div>
</div>
