/* copied from http://jsfiddle.net/cb0s4wjb/32/ */
.fa-slash:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -0.2em;
    left: .9em;
    border-radius: 2em;
    width: .2em;
    height: 2.3em;
    background-color: red;
    transform: rotateZ(-35deg);
}

.fa-slash2:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 1em;
    border-radius: 2em;
    width: .2em;
    height: 2em;
    background-color: white;
    box-shadow: -0.1em 0 .1em gray;
    transform: rotateZ(-35deg);
}