<h3>Thing</h3>
<div>
    <img ng-src="{{thing.webThing.imageUri}}">
    <h3>
        {{thing.webThing.title}}&nbsp;({{thing.type | thingType}}, <a target="_blank" ng-href="{{thing.webThing.uri}}">View</a>)
    </h3>
    <p>{{thing.webThing.content}}</p>
</div>
<div>
    <button class="btn btn-primary btn-sm" ng-click="scoreThisThing()">Score This</button>
</div>
<div>
    <h3>Scores</h3>
    <ul>
        <li ng-repeat="score in thing.scores">
            <a ui-sref="scores.show({scoreId: score.token})"> Score By {{score.user.username}}, Points: {{score.points}}</a>
        </li>
    </ul>
</div>

