<div ng-controller="WebThingsSearchCtrl">
    <h2>Search Web Things</h2>
    <form ng-submit="searchWebThings()">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="type">Source</label>
                <select id="type"
                        class="form-control"
                        ng-model="selectedType"
                        ng-options="typeKey as typeValue.label for (typeKey, typeValue)  in types">
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="form-group">
                <label for="query">Web Thing</label>
                <div class="input-group">
                    <input type="text"
                           id="query"
                           class="form-control"
                           placeholder="{{types[selectedType].examplePlaceholder}}"
                           ng-model="query">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="!query" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <span ng-show="selectedType == 'hashtag'" class="input-group-btn">
                        <button class="btn btn-primary" ng-disabled="!query" ng-click="scoreHashtagQuery()">
                            Score&nbsp;<i class="fa fa-meh-o"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="col-xs-12" ng-show="showNoResultsMessage">
        <h5>Sorry, no results found for "{{query}}".</h5>
    </div>

    <div class="col-xs-12" ng-show="webThings.length">
        <h3>Web Things</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th class="hidden-xs">Content</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="webThing in webThings">
                    <td>
                       <img ng-src="{{webThing.imageUri}}">
                    </td>
                    <td>
                        <a target="_blank" ng-href="{{webThing.uri}}">{{webThing.title}}</a>
                    </td>
                    <td class="hidden-xs">{{webThing.content}}</td>
                    <td>
                        <button class="btn btn-primary btn-md"
                                ng-disabled="!isLoggedIn()"
                                ng-click="scoreWebThing(webThing)">
                            <span class="hidden-xs">Score&nbsp;</span><i class="fa fa-meh-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
