<form ng-submit="search()">
    <div class="col-xs-12">
        <h3>Search Things</h3>
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       id="query"
                       class="form-control"
                       placeholder="Wikipedia Page Title like Batman or Patton Oswalt"
                       ng-model="wikipediaPageTitle">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-disabled="!wikipediaPageTitle" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12" ng-show="notFound">
    <h5>Sorry, no results found for "{{wikipediaPageTitle}}".</h5>
</div>

<div ng-show="wikipediaPage">
    <h3>{{wikipediaPage.title}}</h3>
    <img ng-repeat="imageUrl in wikipediaPage.imageUrls | limitTo:3" ng-src="{{imageUrl}}" height="150">
    <a ui-sref="things.show.scores.new({wikipediaPageName: wikipediaPage.pageName})">Score This Thing</a>
</div>

