<form ng-submit="search()">
    <div class="col-xs-12">
        <h3>Search Users</h3>
        <div class="form-group">
            <div class="input-group">
                <input type="text"
                       id="query"
                       class="form-control"
                       placeholder="username"
                       ng-change="notFound = false"
                       ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-disabled="!query" type="submit">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-xs-12">
    <h5 ng-show="notFound">Sorry, no users found for "{{query}}"</h5>
    <table class="table table-striped" ng-show="users.length">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <a ui-sref="users.show({username: user.username})">{{user.username}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
